@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;600&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

.container-cabecalho {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vw;
  background-color: rgb(43, 43, 43);
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: 0px 15px;
}

.cabecalho-imagem {
  width: 8vw;
}

.titulo-cabecalho {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
}

.titulo-sobre {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(238, 255, 5);
}