body {
  padding: 0;
  margin: 0;
}

.container-lista-usuario {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  align-items: center;
  width: 100%;
  background: yellow;
  border: 1px solid black;
}

.lista-usuario {
  display: flex;
}

.lista-usuario img {
  border-radius: 50%;
  margin-left: 3em;
}

.usuario-perfil {
  padding-left: 1em;
}

.botao {
  margin-right: 3em;
}