@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.856);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  color: #fff;
}

.modal-content {
  width: 80vw;
  background: #fff;
}

.modal-title {
  margin: 0;
}

.modal-body {
  text-align: center;
  padding-bottom: 30px;
}

.modal-body, .modal-header {
  background: #1a1c2b;
}

.header-botao {
  position: relative;
  display: flex;
  box-sizing: content-box;
  justify-content: flex-end;
  box-sizing: border-box;
  border: none;
  background: none;
  width: 100%;
  padding: 5px 5px 0px 0px;
}

.botao-png {
  width: 5%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.inputValor, .selectValor {
  margin-bottom: 20px;
}

.titulo, .subtitulo {
  font-size: 1.3em;
}

.subtitulo {
  color: #d0d862;
}

input {
  width: 45%;
  height: 30px;
}

select {
  width: 46.5%;
  height: 35px;
}

input, select {
  font-size: 0.6em;
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
  font-size: 0.8em;
}

.botao-submit {
  font-size: 0.6em;
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
}